body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
}

textarea {
    width: calc(50% - 8px);
    height: 200px;
    padding: 4px 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    border: 1px #767676 solid;
    border-radius: 4px;
    outline: none;
    resize: none;
}

button {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 0 0 8px;
    min-width: 120px;
    padding: 0 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    color: #ffffff;
    background-color: #0075ff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: #005cc8;
}

input[type=checkbox] {
    margin: 4px 8px 4px 0;
    width: 16px;
    height: 16px;
    outline: none;
}

label {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    width: 240px;
    line-height: 24px;
    user-select: none;
}

h1 {
    font-size: 24px;
    font-weight: 500px;
    line-height: 32px;
    margin: 24px 0;
}

h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin: 16px 0;
}

#wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 720px;
    padding: 8px 16px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#options, #categories {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-height: 480px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
